.hl
{
    color: #fff;
    font-size: 50px;
    
    height: auto;
    
    margin: 50px;
}

.st
{
    color: #fff;
    font-size: 20px;
    
    height: auto;
    
    margin: 10px;
}

.userPosts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
    margin-bottom: 100px;
    
    gap: 50px;
}

.friendsPosts {
    display: flex;
    flex-direction: column-reverse;
    gap: 70px;
    margin: 30px;
}

.friendsPosts .posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    margin: 20px 0;
    gap: 50px;

    position: relative;
}

.friendsPosts .posts p.st {
    top: -40px;
    position: absolute;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin: 0;
}

@media (max-width: 1200px) {
    .friendsPosts .posts {
        flex-direction: column;
    }

    .friendsPosts {
        gap: 115px;
    }
}