.profileInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileInfo img {
    width: 60px;
    border-radius: 50px;
}

.profileInfo .picture {
    width: 60px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    background-color: gray;
    border-radius: 50px;
}

.profileInfo .info
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profileInfo .info .name {
    font-weight: 600;
}

.profileInfo .info .location-time {
    font-size: 12px;
    font-weight: 300;
}
