.realmoji {
    min-width: 110px;
    width: 12%;
    aspect-ratio: 1;

    position: relative;

    display: flex;
    align-items: last center;
    justify-content: center;

    background-color: #000;
    border: 2px solid #222;
    border-radius: 100%;
}

.realmoji img {
    width: 100%;
    
    border-radius: 100%;
}


.realmoji p {
    font-size: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.realmoji h1 {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
}

/*

@media (max-width: 1200px) {
    .realmoji
    {
        min-width: auto;
    }
    
    .realmoji p {
        font-size: 8px;
    }

    .realmoji h1
    {
        font-size: 20px;
    }
}

*/